.footer__link {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

.footer__link:hover {
  opacity: .8;
}

@media (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}