.lead__image {
  display: block;
  width: 100%;
  margin: 0 auto 8px;
}

@media (min-width: 928px) {
  .lead__image {
    width: 928px;
  }
}

@media (min-width: 1224px) {
  .lead__image {
    width: calc(100% - 296px);
  }
}

@media (min-width: 1280px) {
  .lead__image {
    width: 984px;
  }
}

