.lead__subtitle {
  width: calc(100% - 32px);
  margin: 0 auto 40px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

@media (min-width: 320px) {
  .lead__subtitle {
    width: 288px;
  }
}

@media (min-width: 768px) {
  .lead__subtitle {
    width: 640px;
    margin: 0 auto 56px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    margin: 0 auto 64px;
  }
}