.footer {
  width: calc(100% - 32px);
  padding-top: 64px;
}

@media (min-width: 320px) {
  .footer {
    width: 288px;
  }
}

@media (min-width: 336px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media (min-width:768px) {
  .footer {
    width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 816px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media (min-width: 1280px) {
  .footer {
    width: 1184px;
  }
}