.place__website {
  width: calc(100% - 32px);
  margin: 0 auto 32px;
}

@media (min-width:320px) {
  .place__website {
    width: 288px;
  }
}

@media (min-width:336px) {
  .place__website {
    width: calc(100% - 48px);
  }
}

@media (min-width: 768px) {
  .place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
  }
}