.intro__title {
  margin: 0 0 40px;
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}

@media (min-width: 816px) {
  .intro__title {
    width: 690px;
  }
}